.outerFooterCss {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    isolation: isolate;
    position: relative;
}

.FooterCss {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 60px;
    flex-wrap: wrap;
}

.img1 {
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.img2 {
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}