.MainAdRightCss {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px
}

.MainAdRightCss .img1 {
    width: 300px;
    position: relative;
    left: 170px;
    top: 50px;
    z-index: 2;
}

.MainAdRightCss .img2 {
    width: 600px;
    z-index: 2;
}

.MainAdRightCss .img3 {
    width: 400px;
    position: relative;
    top: -350px;
    left: -70px;
    z-index: -1;
}