.newsLetterCss {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.newsLetterCssH1 {
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 43.33px;
    text-decoration: underline;
    text-decoration-color: #FFC222;
    text-decoration-thickness: 4px;
}

.newsLetterCssInput {
    width: 360px;
    height: 63px;
    padding: 25px 36px 21px 36px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

.outerButton {
    width: 150.69px;
    height: 72px;
    border-radius: 12px;
    border: 3px solid #F3274C;
    display: flex;
    align-items: center;
    position: relative;
    left: 20px;
    margin-top: 20px;
}

.innerButton {
    width: 158.63px;
    height: 60px;
    background: #F3274C;
    border: 0;
    border-radius: 12px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
    color: white;
    position: relative;
    left: -20px;
}